.container {
  margin-bottom: 30px;

  .title {
    margin: 0 0 0 30px;
  }

  .listContainer {
    overflow-x: hidden;
    padding-left: 30px;

    .list {

      .item {
        display: inline-block;
        cursor: pointer;
        width: 200px;

        .img {
          width: 100%;
          transform: scale(0.9);
          transition: all 0.2s ease;

          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}
